<nav>
    <div class="site-title">
        <a href="/">Blogger Gist</a>
        <p>Our Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog Post</a></li>
    </ul>
</nav>