<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Node.js Crash Course</title>
</head>
<body>
    <h1>History!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus et cupiditate minus impedit maiores minima incidunt fugiat illum debitis eius excepturi quis amet, explicabo cum est commodi tempore asperiores inventore voluptatem vel facere repellendus culpa praesentium. Obcaecati inventore atque illo possimus, blanditiis soluta, dignissimos corrupti pariatur odio culpa nisi est!</p>
</body>
</html>