<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form>
            <!-- <div> -->
                <label for="title">Blog Title</label>
                <input type="text" id="title" required>
            <!-- </div> -->
            <!-- <div> -->
                <label for="snipper">Blog Snippet</label>
                <input type="text" id="snippet" required>
            <!-- </div> -->
            <!-- <div> -->
                <label for="body">Blog Title</label>
                <textarea id="body" required></textarea>
            <!-- </div> -->
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>